#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^([^\.]*)\.([^\.]*)$
#RewriteRule (.*) http://www.%1.%2/$1 [L,R=301]

#RewriteCond %{HTTP_HOST} ^www\.([^.]+)\.([^.]+)\.([^\.]*)$ [NC]
#RewriteRule ^(.*)$ http://%1.%2.%3/$1 [L,R=301]

#RewriteCond %{REQUEST_URI} !^projects/
#RewriteCond %{REQUEST_URI} !^/projects/
#RewriteCond %{HTTP_HOST} ^(www\.)?(.*)\.([^\.]*)\.([^\.]*)$
#RewriteRule (.*) %3/$1 [DPI] 

RewriteEngine On
RewriteRule ^admin/dashboard$ admin/dashboard.php
RewriteRule ^admin/products$ admin/dashboard.php
RewriteRule ^admin/accounts$ admin/dashboard.php